<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604624870270-o1ljlthrmo40veibaaopv72n4ahjepul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604624870270-o1ljlthrmo40veibaaopv72n4ahjepul</string>
	<key>API_KEY</key>
	<string>AIzaSyA7tHfPzU1S_vcYybPTUZkLcOtFFaSTV84</string>
	<key>GCM_SENDER_ID</key>
	<string>604624870270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourfirstgrin.Firstgrin</string>
	<key>PROJECT_ID</key>
	<string>firstgrin</string>
	<key>STORAGE_BUCKET</key>
	<string>firstgrin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604624870270:ios:bae1ecf414eb3e9fc5312f</string>
	<key>DATABASE_URL</key>
	<string>https://firstgrin-default-rtdb.firebaseio.com</string>
</dict>
</plist>